#wrapper.account-page{
    background: $light-gray;
    .page-header{
        padding: 32px 0;
        margin-bottom: 0;
        .entry-header{
            float: none;
        }
    }
    .wpuf-dashboard-container{
        max-width: 1170px;
        display: flex;
        justify-content: space-between;
        @media (max-width: $screen-xs-max){
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .wpuf-dashboard-navigation,
    .wpuf-dashboard-content{
        background: $white;
        border: none;
        border-radius: 16px;
        padding: 16px;
        @media (max-width: $screen-xs-max){
            padding: 8px 4px;
        }
    }
    .wpuf-dashboard-navigation{
        padding: 24px;
        border-radius: 16px;
        background: $white;
        width: 28%;
        ul{
            margin-bottom: 0;
            padding-left: 0;
            list-style-type: none !important;
            li{
                margin-bottom: 16px;
                margin-left: 0;
                a{
                    display: block;
                    font-size: 16px;
                    padding-left: 24px;
                    border-left: 2px solid transparent;
                    color: $gray !important;
                    text-decoration: none;
                    &:hover{
                        color: $primary-color !important;
                        border-color: darken($light-gray, 5%);
                    }
                }
                &.active{
                    a{
                        color: $primary-color !important;
                        border-color: $primary-color;
                    }
                }
            }
        }
        @media (max-width: $screen-xs-max){
            width: 100%;
            order: 2;
            margin-top: 32px;
            ul{
                li{
                    display: block;
                }
            }
        }
    }
    .wpuf-dashboard-content{
    	.post_count{
    		font-size: 18px;
    		color: $gray;
    		line-height: 1.5em;
    		margin-bottom: 16px;
            @media (max-width: $screen-xs-max){
                padding: 0 4px;
            }
    	}
    	.items-table-container{
    		th,
    		td{
    			padding: 16px;
    		}
    		th:first-child,
    		td:first-child{
    			width: 140px;
    		}
    		td:nth-child(2){
    			font-size: 16px;
    			line-height: 1.5em;
    		}
    		th:last-child,
    		td:last-child{
    			width: 120px;
    		}
    		img{
    			max-width: 64px;
    		}
    		a{
    			color: $primary-color;
    		}
            @media (max-width: $screen-xs-max){
                display: block;
                table.items-table{
                    max-width: 100%;
                    min-width: 0;
                }
                
                thead{
                    display: none;
                }
                tbody,
                td{
                    display: block;
                }
                tr{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 16px 0;
                    justify-content: space-between;
                    &:first-child{
                        padding-top: 0;
                    }
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
                td{
                    padding: 8px;
                    &:first-child{
                        width: 80px;
                    }
                    &:nth-child(2){
                        width: calc(100% - 80px);
                    }
                }
            }
    	}
    	form{
    		.wpuf-el{
    			margin-bottom: 24px;
    			padding-bottom: 0;
		        font-size: 16px;
		        line-height: 1em;
		        position: relative;
		        &:last-of-type{
		            margin-bottom: 0;
		        }
		        .wpuf-section-wrap{
		        	margin-bottom: -24px;
		        	border-bottom: none;
		        }
    		}
    		.wpuf-label{
    			font-weight: 400;
		        font-size: 16px; 
		        line-height: 1em;
		        margin-bottom: 8px;
		        color: $gray;
		        display: block;
    		}
    		.textfield,
    		input.password,
    		.wpuf_dropdown,
    		select{
    			border-radius: 0;
		        height: 56px;
		        border: 2px solid $light-gray;
		        color: $black;
		        font-weight: 500;
		        font-size: 16px;
		        padding: 16px;
		        box-shadow: none;
		        &:focus,
		        &.active{
		            border-color: $primary-color;
		            box-shadow: none;
		            outline: none;
		        }
    		}
    		.wpuf-insert-image{
    			font-size: 14px !important;
    		}
    		textarea{
    			border-radius: 0;
		        border: 2px solid $light-gray;
		        color: $black;
		        font-weight: 500;
		        font-size: 16px;
		        padding: 16px;
		        box-shadow: none;
		        resize: vertical;
    		}
    		.wpuf-radio-block{
    			padding: 8px;
    			input{
    				width: 24px;
    			}
    		}
    		.wpuf-attachment-list{
    			li{
    				width: 96px;
    			}
    			.btn{
    				min-width: 0;
    				width: 100%;
    				padding: 16px;
    				margin-top: 8px;
    			}
    		}
    		.wpuf-submit-button{
    			font-size: 14px;
			    font-weight: 400;
			    line-height: 1em;
			    padding: 16px 48px;
			    min-width: 170px;
			    border: none;
			    box-shadow: none;
			    border-radius: 0;
			    text-decoration: none;
			    @include transition(all 0.2s ease-out);
    			background: $primary-color;
		        color: $white;
		        &:hover,
		        &:focus{
		            background: lighten($primary-color, 5%);
		        }
		        &:active{
		            background: darken($primary-color, 5%);
		            color: $white;
		            box-shadow: none;
		        }
    		}
    	}
    }
}