.entry-content > * {
  margin: 0 auto 4em;
  max-width: 770px;
  padding-left: 15px;
  padding-right: 15px;
}

#content{
  .entry-content > h1,
  .entry-content > h2,
  .entry-content > h3,
  .entry-content > h4,
  .entry-content > h5,
  .entry-content > h6,{
    margin-top: 0;
    margin-bottom: .7em;
  }
}

.entry-content > p{
  margin: 0 auto 2em;
}

.entry-content > p + h1,
.entry-content > p + h2,
.entry-content > p + h3,
.entry-content > p + h4,
.entry-content > p + h5,
.entry-content > p + h6,{
  padding-top: 1em;
}

.entry-content > .alignwide {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.entry-content > .alignfull {
  margin: 0 0 4em;
  max-width: 100%;
  padding: 0;
}

.entry-content ul,
.entry-content ol {
  margin: 0 auto 4em;
  max-width: 770px;
  list-style-position: outside;
}

.wp-block-columns{
  max-width: 970px;
}

.wp-block-video video {
  max-width: 770px;
}

.wp-block-image {
  margin: 0 auto 4em;
  margin-bottom: 4em !important; 
  img {
    display: block;
    margin: auto;
  }
}

.wp-block-image.alignleft,
.wp-block-image.alignright {
  width: 100%
}

.wp-block-image.alignfull img {
  width: 100vw;
}

.wp-block-cover-image{
  margin-left: auto !important;
  margin-right: auto !important;
}

.wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto;
}

.wp-block-cover-text p {
  padding: 1.5em 15px;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 15px;
}

.wp-block-table {
  display: block;
  overflow-x: auto;
}

.wp-block-table table {
  border-collapse: collapse;
  width: 100%
}

.wp-block-table td, .wp-block-table th {
  padding: .5em;
}

.entry-content li {
  margin-left: 2.5em;
  margin-bottom: 6px;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin: 0 auto;
}

.entry-content ul ul li,
.entry-content ol ol li,
.entry-content ul ol li,
.entry-content ol ul li {
  margin-left: 0;
}


.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wp-block-quote.is-large {
  margin: 0 auto 16px;
}

.wp-block-pullquote>p:first-child {
  margin-top: 0;
}

.wp-block-separator {
  margin: 3em auto;
  padding: 0;
}

@media (min-width: 600px){
  .wp-block-column:not(:first-child), 
  .wp-block-column:nth-child(2n){
    padding-left: 15px;
    margin-left: 0 !important;
  }

  .wp-block-column:not(:last-child), 
  .wp-block-column:nth-child(odd){
    padding-right: 15px;
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 992px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }

  .entry-content > * {
    padding-left: 0px;
    padding-right: 0px;
  }

}



/*--------------------------------------------------------------
# Block Color Palette Colors
--------------------------------------------------------------*/
.has-strong-blue-color {
  color: #0073aa;
}

.has-strong-blue-background-color {
  background-color: #0073aa;
}

.has-lighter-blue-color {
  color: #229fd8;
}

.has-lighter-blue-background-color {
  background-color: #229fd8;
}

.has-very-light-gray-color {
  color: #eee;
}

.has-very-light-gray-background-color {
  background-color: #eee;
}

.has-very-dark-gray-color {
  color: #444;
}

.has-very-dark-gray-background-color {
  background-color: #444;
}