
@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/ProductSans/ProductSans-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/ProductSans/ProductSans-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/ProductSans/ProductSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/ProductSans/ProductSans-RegularItalic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/ProductSans/ProductSans-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/ProductSans/ProductSans-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/ProductSans/ProductSans-Bold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/ProductSans/ProductSans-BoldItalic.ttf');
	font-weight: 600;
	font-style: italic;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf');
    src: url('../fonts/fontawesome-webfont.woff');
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/FontAwesome.otf');
}