@import "compass/css3";
// ==========================================================================
// TABLE OF CONTENTS:
// ==========================================================================
//
// # Header
// 		# Title + description
// 		# Navbar
// # Wrapper
// # Content
// # Sidebar and Widgets
// # Components
// 		# Fancy skip link
// 		# Pagination
// 		# Comments
// # Footer
//

// ==========================================================================
// Header
// ==========================================================================
#header {
    padding: 32px 0;

    @media (max-width: $screen-sm-max) {
        padding: 16px 0;
    }

    .row {
        display: flex;
    }
    //
    // Navbar
    //
    #main-navigation {
        align-self: center;
        margin: 0;
        min-height: 0;
        border: none;
        background: none;
        nav {
            padding: 0;
            border: none;
            .nav {
                float: left;
                li {
                    a {
                        padding: 12px 15px;
                        font-size: 15px;
                        line-height: 1em;
                        color: $gray;
                        border-bottom: none;
                        opacity: 0.8;
                        &:hover {
                            color: #008286;
                        }
                    }
                    &.active a {
                        color: #008286;
                        background: none;
                    }
                    &.dropdown {
                        > .dropdown-menu {
                            border: none;
                            border-radius: 8px;
                            background: $light-gray;
                            box-shadow: 0 5px 11px rgba($black, 0.1);
                            top: calc(100% - 10px);
                            z-index: 1;
                            li {
                                a {
                                    font-weight: 500;
                                    font-size: 14px;
                                }
                            }
                            @media (max-width: $screen-sm-max) {
                                position: relative;
                                top: 0;
                                box-shadow: none;
                            }
                        }
                        &:hover {
                            > a {
                                border-radius: 5px 5px 0 0;
                                border: 1px solid #f0f0f0;
                                border-bottom: none;
                                position: relative;
                                z-index: 2;
                                background: $light-gray;
                            }
                            .dropdown-menu {
                                @media (min-width: $screen-md) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-toggle {
            margin: 0;
            border: none;
            float: right;
            border-radius: 0;
            outline: none !important;
            box-shadow: none !important;
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 500;
            margin: 0;
            padding: 10px;
            width: 40px;
            height: 40px;
            background: none;
            .icon-bar {
                background: $black;
                width: 21px;
                height: 2px;
                border-radius: 1px;
                @include transition(all 0.2s);
                & + .icon-bar {
                    margin-top: 4px;
                }
            }
            .top-bar {
                @include transform(rotate(45deg));
                @include transform-origin(10%);
            }
            .middle-bar {
                opacity: 0;
            }
            .bottom-bar {
                @include transform(rotate(-45deg));
                @include transform-origin(10%);
            }

            &.collapsed {
                position: relative;
                margin: 0;
                top: 0;
                right: 0;
                .icon-bar {
                    background: $black;
                }
                .top-bar {
                    @include transform(rotate(0));
                }
                .middle-bar {
                    opacity: 1;
                }
                .bottom-bar {
                    @include transform(rotate(0));
                }
            }
            @media (max-width: $screen-sm-max) {
                display: block !important;
            }
        }
        @media (max-width: $screen-md-max) {
            padding: 0;
            nav {
                .nav {
                    li {
                        a {
                            padding: 12px 10px;
                        }
                    }
                }
            }
        }
        @media (max-width: $screen-sm-max) {
            bottom: auto;
            top: 16px;
            right: 0;
            width: 60px;
            left: auto;
            float: right;
            padding: 0;
            position: absolute;
            z-index: 2;
            margin: 0;
            nav {
                display: none !important;
                .nav {
                    text-align: left;
                    li {
                        a {
                            padding: 16px 24px;
                            margin-bottom: 5px;
                            font-size: 18px;
                            color: $gray;
                        }
                        &.active a,
                        a:hover {
                            color: $primary-color;
                            border-bottom: none;
                            &:before {
                                display: none;
                            }
                        }
                        a:active,
                        a.open {
                            color: $primary-color;
                        }
                    }
                }
                &.collapse.in {
                    display: block !important;
                    position: fixed;
                    background: $white;
                    top: 0;
                    margin-top: 0;
                    padding-top: 64px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 4;
                    ul {
                        float: none;
                        width: 100%;
                        margin: 0;
                        li {
                            display: block;
                            width: 100%;
                            a {
                                display: block;
                            }
                            &.active {
                                a {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //
    // Title, description and image
    //
    .logo-header {
        img {
            max-width: 170px;
            height: auto;
        }
        @media (max-width: $screen-sm-max) {
            img {
                max-width: 120px;
            }
        }
    }

    .header-cta {
        text-align: right;
        align-self: center;
        .btn {
            padding: 12px 20px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            min-width: 0;
            text-decoration: none;
            &.btn-cta {
                color: $white;
                background: none;
                padding: 8px 16px;
                border: 2px solid $secondary-color;
                &:hover {
                    color: $secondary-color;
                    background: none;
                }
            }
        }
        @media (max-width: $screen-sm-max) {
            display: none;
            &.in {
                display: block;
                position: fixed;
                bottom: 32px;
                z-index: 5;
                width: 100%;
                text-align: center;
                .btn {
                    width: 170px;
                    font-size: 18px;
                }
            }
        }
        @media (max-width: $screen-xs-max) {
            display: none;
            &.in {
                bottom: 16px;
                .btn {
                    width: 48%;
                }
            }
        }
    }
}

// ==========================================================================
// Wrapper
// ==========================================================================
#wrapper {
    padding-bottom: 96px;
    .page-header {
        background: $light-gray;
        padding: 80px 0 64px;
        margin-top: 0;
        margin-bottom: 30px;
        border-bottom: none;
        .entry-title {
            color: $black;
            font-weight: 600;
            font-size: 48px;
            line-height: 1.2em;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            @media (max-width: $screen-sm-max) {
                font-size: 42px;
            }
            @media (max-width: $screen-xs-max) {
                font-size: 36px;
            }
        }
        .entry-header {
            margin: auto;
            max-width: 770px;
            @media (max-width: $screen-xs-max) {
                padding: 0 15px;
            }
        }
        .page-number {
            font-size: 24px;
            color: $black;
            text-align: center;
            font-weight: 600;
        }
        .searchform {
            margin: auto;
            margin-top: 32px;
        }
    }

    .blog-header {
        padding-bottom: 32px;
        .entry-header {
            .entry-title {
                color: $primary-color;
            }
        }
        .categories-container {
            padding-top: 32px;
            .categories {
                margin-bottom: 0;
                padding-left: 0;
                list-style-type: none;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                &:before {
                    content: "";
                    display: none;
                    width: 24px;
                    height: 24px;
                    margin-right: 24px;
                    background: url("../images/icon-tag.png") center center no-repeat;
                    background-size: contain;
                }
                &:hover {
                    li a {
                        opacity: 0.5;
                    }
                }
                li {
                    display: inline-block;
                    margin: 0 4px 8px;
                    a {
                        display: block;
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 1em;
                        padding: 5px 8px;
                        color: $white;
                        @include transition(all 0.2s ease-out);
                    }
                    &:hover {
                        a {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .post-header {
        margin: 0;
        border-bottom: none;
        padding: 80px 0 48px;
        @media (max-width: $screen-xs-max) {
            padding-top: 48px;
        }
        .entry-header {
            text-align: center;
            position: relative;
            .source {
                display: block;
                margin-bottom: 24px;
                text-align: center;
                a {
                    display: inline-block;
                    padding: 4px 16px;
                    background: $light-gray;
                    color: $primary-color;
                    font-size: 16px;
                    line-height: 1em;
                    text-decoration: none;
                    &:hover {
                        background: darken($light-gray, 5%);
                    }
                }
            }
            .entry-title {
                font-size: 48px;
                line-height: 1.2em;
                font-weight: 600;
                color: $black;
                margin-top: 0;
                margin-bottom: 24px;
            }
            .date {
                font-size: 16px;
                color: $gray;
                line-height: 1em;
                margin-bottom: 24px;
            }
            .share-container {
                width: 100%;
                display: flex;
                justify-content: center;
                > span {
                    display: inline-block;
                    align-self: center;
                    font-size: 12px;
                    line-height: 1em;
                    color: $gray;
                    margin-right: 24px;
                }
                .addtoany_shortcode {
                    align-self: center;
                }
                @media (max-width: $screen-xs-max) {
                    flex-direction: column;
                    > span {
                        margin-right: 0;
                        margin-bottom: 8px;
                    }
                }
            }
            @media (max-width: $screen-xs-max) {
                .entry-title {
                    font-size: 36px;
                }
            }
        }
    }

    .category-header {
        .entry-header {
            .source {
                display: block;
                margin-bottom: 24px;
                text-align: center;
                a {
                    display: inline-block;
                    padding: 4px 16px;
                    background: rgba($white, 0.1);
                    color: $white;
                    font-size: 16px;
                    line-height: 1em;
                    text-decoration: none;
                    &:hover {
                        background: rgba($white, 0.2);
                    }
                }
            }
            .entry-title {
                color: $white;
            }
            @media (max-width: $screen-xs-max) {
                .entry-title {
                    font-size: 32px;
                }
            }
        }
    }

    .search-header {
        padding-top: 32px;
        padding-bottom: 32px;
        .entry-header {
            .entry-title {
                span {
                    display: block;
                    font-size: 24px;
                }
            }
        }
    }

    .institution-header {
        padding-top: 40px;
        padding-bottom: 40px;
        background: $white;
        .logo {
            // border-radius: 100%;
            width: 100%;
            max-width: 170px;
            height: 64px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center left;
        }
        .entry-title {
            font-size: 36px;
            line-height: 1.2em;
            font-weight: 600;
            color: $black;
            margin-top: 16px;
            margin-bottom: 0;
        }
    }

    .login-header,
    .register-header {
        padding: 32px 0;
        .entry-title {
            font-size: 36px;
        }
    }
}

.blog,
.search,
.category,
.error404,
.single-institution,
.author {
    #wrapper {
        background: $light-gray;
    }
}

.single {
    #wrapper {
        padding-bottom: 0;
    }
}

.single-institution {
    .professionals-list-header {
        padding-top: 40px;
        padding-bottom: 24px;
        .title {
            margin: 0;
            color: $black;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
        }
    }
    .professionals {
        padding-bottom: 128px;
        width: 100%;
    }
}

.author {
    .author-header {
        background: $white;
        .entry-header {
            padding-top: 40px;
            padding-bottom: 40px;
            display: flex;
            width: 100%;
        }
        .avatar {
            border-radius: 100%;
            width: 128px;
            height: 128px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .infos {
            padding-left: 40px;
        }
        .name {
            display: block;
            font-size: 14px;
            line-height: 1em;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 8px;
            color: $black;
        }
        p {
            display: block;
            font-size: 16px;
            line-height: 1em;
            margin-bottom: 16px;
            color: $gray;
            strong {
                color: $black;
            }
        }
        .specialties {
            padding-top: 24px;
            .title {
                margin-top: 0;
                margin-bottom: 16px;
                font-size: 32px;
                font-weight: 600;
            }
            p {
                font-size: 21px;
                line-height: 34px;
                color: $gray;
                @media (max-width: $screen-xs-max) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $black;
                line-height: 1.2em;
            }
            blockquote {
                font-style: italic;
                border-color: #ccc;
                padding-left: 2em;
                p {
                    color: $gray;
                    font-style: italic;
                    font-size: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            ul {
                list-style-type: square;
                li {
                    font-size: 21px;
                    line-height: 1.5em;
                    color: $gray;
                    @media (max-width: $screen-xs-max) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .author-posts-header {
        padding-top: 64px;
        padding-bottom: 24px;
        .title {
            margin: 0;
            color: $primary-color;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
    }
}

.error404 {
    #wrapper {
        padding-top: 64px;
    }
}

// ==========================================================================
// Content
// ==========================================================================
#content {
    .entry-content {
        p {
            font-size: 21px;
            line-height: 34px;
            color: $gray;
            @media (max-width: $screen-xs-max) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $black;
            line-height: 1.2em;
        }
        blockquote {
            font-style: italic;
            border-color: #ccc;
            padding-left: 2em;
            p {
                color: $gray;
                font-style: italic;
                font-size: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ul {
            list-style-type: square;
            li {
                font-size: 21px;
                line-height: 1.5em;
                color: $gray;
                @media (max-width: $screen-xs-max) {
                    font-size: 16px;
                }
            }
        }
        figure,
        .wp-caption {
            padding: 0;
            border: none;
            .wp-caption-text,
            figcaption {
                display: block;
                background: #e5e5e5;
                color: $gray;
                margin: 0;
                padding: 10px;
            }
        }
        .wp-block-cover {
            p {
                color: $white;
                font-size: 2em;
            }
        }
        .wp-block-media-text {
            @media (max-width: $screen-xs-max) {
                display: block;
                figure {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .entry-meta {
        margin: 0 auto;
        max-width: 770px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 32px;
        padding-bottom: 128px;
        .share-container {
            width: 100%;
            display: flex;
            > span {
                display: inline-block;
                align-self: center;
                font-size: 12px;
                line-height: 1em;
                color: $gray;
                margin-right: 24px;
            }
            .addtoany_shortcode {
                align-self: center;
            }
            @media (max-width: $screen-xs-max) {
                flex-direction: column;
                > span {
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }
        }
    }
}

//
// Home
//
.home {
    #content {
        .post {
            margin-bottom: 40px;
            &.sticky {
                padding: 0 20px 20px;
                border: 1px dashed $brand-info;
            }
        }
    }
    .home-hero {
        background: #cce3e4;
        padding-top: 64px;
        padding-bottom: 124px;
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .content {
            align-self: center;
            .title {
                color: #008286;
                font-size: 35px;
                line-height: 1.25em;
                margin-top: 0;
                margin-bottom: 0;
            }
            @media (max-width: $screen-sm-max) {
                margin-bottom: 32px;
            }
        }
        .hero-actions {
            align-self: center;
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            .find-professionals {
                width: 100%;
                max-width: 370px;
                padding-top: 16px;
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    width: 64px;
                    height: 2px;
                    position: absolute;
                    top: -1px;
                    left: 0;
                    background: darken($light-gray, 5%);
                }
                p {
                    font-size: 14px;
                    line-height: 1em;
                    color: $gray;
                    margin-bottom: 8px;
                }
            }
            @media (max-width: $screen-sm-max) {
                align-items: flex-start;
            }
        }
    }
    .home-blog {
        position: relative;
        padding-bottom: 64px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 256px;
            background: #cce3e4;
        }
        .header {
            display: flex;
            padding-top: 32px;
            padding-bottom: 24px;
            .title {
                font-size: 24px;
                line-height: 1.2em;
                margin-right: 32px;
                color: $black;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 500;
            }
            a {
                font-size: 16px;
                line-height: 16px;
                align-self: center;
                color: #008286;
                display: block;
                font-weight: 500;
            }
        }
        .posts {
            .post {
                a {
                    border-radius: 8px;
                }
                .img-block {
                    border-radius: 8px 8px 0 0;
                }
            }
            .post:first-child {
                .img-block {
                    border-radius: 8px 0 0 8px;
                }
                @media (min-width: $screen-md) {
                    width: 100%;
                    .box {
                        flex-direction: row;
                        align-items: stretch;
                        align-content: stretch;
                        .img-block {
                            width: 470px;
                            height: auto;
                        }
                        .content {
                            align-self: center;
                            padding: 48px 64px 96px;
                            width: calc(100% - 470px);
                            height: auto;
                            position: relative;
                            .title {
                                font-size: 28px;
                                line-height: 36px;
                            }
                            .excerpt {
                                font-size: 16px;
                                line-height: 24px;
                            }
                            .post-meta {
                                left: 64px;
                                right: 64px;
                            }
                        }
                    }
                }
            }
        }

        .categories-title {
            font-size: 24px;
            font-weight: 500;
            color: black;
        }

        .categories-container {
            padding-top: 32px;
            .categories {
                margin-bottom: 0;
                padding-left: 0;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;

                li {
                    display: inline-block;
                    margin-right: 20px;
                    a {
                        display: block;
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 1em;
                        padding: 15px 45px;
                        color: $white;
                        text-align: center;
                        width: 160px;
                        border-radius: 6px;
                        @include transition(all 0.2s ease-out);
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
                @media (max-width: $screen-xs-max) {
                    li {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    .home-services {
        background: $light-gray;
        padding: 64px 0;
        .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .service {
            display: flex;
            .box {
                background: $white;
                box-shadow: 0 0 12px rgba(black, 0.1);
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                padding: 24px 32px 94px;
                text-align: center;
                position: relative;
                .icon {
                    width: 64px;
                    height: 64px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                .title {
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 500;
                    margin-top: 24px;
                    margin-bottom: 8px;
                }
                .description {
                    color: $gray;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0;
                }
                .btn {
                    position: absolute;
                    bottom: 24px;
                }
            }
            &.primary .title {
                color: $primary-color;
            }
            &.secondary .title {
                color: $secondary-color;
            }
            @media (max-width: $screen-xs-max) {
                margin-bottom: 32px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .home-professionals {
        padding: 64px 0;
        .header {
            display: flex;
            padding-top: 32px;
            padding-bottom: 24px;
            .title {
                font-size: 24px;
                line-height: 1.2em;
                margin-right: 32px;
                color: $black;
                margin-top: 0;
                margin-bottom: 0;
            }
            a {
                font-size: 16px;
                line-height: 16px;
                align-self: center;
                color: $primary-color;
                display: block;
                font-weight: 500;
            }
            @media (max-width: $screen-xs-max) {
                padding-top: 0;
            }
        }
        .find-professionals {
            padding-top: 128px;
            @media (max-width: $screen-xs-max) {
                padding-top: 64px;
            }
        }
    }
    .home-institutions {
        padding-top: 64px;
        // padding-bottom: 128px;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 128px;
            height: 2px;
            position: absolute;
            top: 0;
            left: calc(50% - 64px);
            background: $light-gray;
        }
        .header {
            display: flex;
            padding-top: 32px;
            padding-bottom: 24px;
            .title {
                font-size: 24px;
                line-height: 1.2em;
                margin-right: 32px;
                color: $black;
                margin-top: 0;
                margin-bottom: 0;
            }
            a {
                font-size: 16px;
                line-height: 16px;
                align-self: center;
                color: $primary-color;
                display: block;
                font-weight: 500;
            }
        }
        @media (max-width: $screen-xs-max) {
            padding-top: 0;
        }
    }
}

.blog,
.related-posts,
.search,
.category,
.author {
    .posts {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .post {
        display: flex;
        margin-bottom: 32px;
        .box {
            background: $white;
            box-shadow: 0 0 12px rgba(black, 0.1);
            text-decoration: none;
            display: flex;
            width: 100%;
            flex-direction: column;
            position: relative;
            @include transition(all 0.2s ease-out);
            .img-block {
                width: 100%;
                height: 256px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;
                .categories {
                    margin-bottom: 0;
                    padding-left: 0;
                    list-style-type: none;
                    display: flex;
                    flex-flow: row-reverse;
                    flex-wrap: wrap;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 16px;
                    @include background-image(linear-gradient(to top, rgba(black, 0.32), transparent));
                    li {
                        display: inline-block;
                        margin-left: 8px;
                        span {
                            display: block;
                            text-decoration: none;
                            font-size: 14px;
                            line-height: 1em;
                            padding: 5px 8px;
                            color: $white;
                        }
                    }
                }
                @media (max-width: $screen-xs-max) {
                    height: 60vw;
                }
            }
            .content {
                padding: 20px 20px 96px;
                display: flex;
                flex-direction: column;
                height: calc(100% - 256px);
                .title {
                    font-size: 20px;
                    line-height: 28px;
                    color: $black;
                    margin-top: 0;
                    margin-bottom: 16px;
                    @include transition(all 0.2s ease-out);
                }
                .excerpt {
                    color: $gray;
                    font-size: 14px;
                    line-height: 20px;
                    min-height: 4em;
                    margin-bottom: 0;
                }
                .post-meta {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                    .author {
                        display: flex;
                        .photo {
                            width: 48px;
                            height: 48px;
                            border-radius: 100%;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        .infos {
                            align-self: center;
                            padding-left: 16px;
                            .name {
                                display: block;
                                font-weight: 400;
                                color: $black;
                                font-size: 14px;
                                line-height: 1em;
                                margin-bottom: 4px;
                            }
                            .occupation {
                                display: block;
                                font-weight: 400;
                                color: $gray;
                                font-size: 14px;
                                line-height: 1em;
                            }
                        }
                    }
                    .entry-date {
                        align-self: center;
                        text-align: right;
                        font-weight: 400;
                        color: $gray;
                        font-size: 14px;
                        line-height: 1em;
                    }
                    @media (max-width: $screen-xs-max) {
                        .author {
                            .infos {
                                padding-left: 8px;
                                .name,
                                .occupation {
                                    font-size: 12px;
                                }
                            }
                        }
                        .entry-date {
                            font-size: 12px;
                        }
                    }
                }
            }
            &:hover {
                box-shadow: 0 0 24px rgba(black, 0.1);
                .content .title {
                    color: #008286;
                }
            }
        }
    }
}

.related-posts {
    background: $light-gray;
    padding: 80px 0;
    .header {
        .title {
            text-align: center;
            margin-top: 0;
            margin-bottom: 24px;
            font-size: 24px;
            font-weight: 600;
            color: $primary-color;
            line-height: 1.2em;
        }
    }
}

.search {
    .post {
        .box {
            display: flex;
            .img-block {
                // width: 370px;
                // flex: 0 0 30%;
            }
            .content {
                align-self: center;
                padding: 20px;
                .title {
                    height: auto;
                }
            }
        }
    }
}

.search,
.error404 {
    .no-results {
        text-align: center;
        max-width: 570px;
        margin: auto;
        .no-results-title {
            text-align: center;
            margin-top: 0;
            margin-bottom: 24px;
            font-size: 32px;
            font-weight: 600;
            color: $black;
            line-height: 1.2em;
        }
        p {
            font-size: 18px;
            color: $gray;
            line-height: 1.5em;
        }
    }
}

.error404 {
    .no-results {
        .searchform {
            margin: auto;
            margin-top: 32px;
        }
    }
}

.professionals {
    display: flex;
    flex-wrap: wrap;
    .professional {
        display: flex;
        .box {
            width: 100%;
            background: $white;
            box-shadow: 0 0 12px rgba(black, 0.1);
            text-decoration: none;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 20px;
            @include transition(all 0.2s ease-out);
            .avatar {
                border-radius: 100%;
                width: 64px;
                height: 64px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .name {
                display: block;
                font-size: 14px;
                line-height: 1em;
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 8px;
                color: $black;
            }
            .occupation {
                display: block;
                font-size: 14px;
                line-height: 1em;
                margin-bottom: 32px;
                color: $gray;
            }
            &:hover {
                box-shadow: 0 0 24px rgba(black, 0.1);
            }
        }
    }
}

.find-professionals {
    .title {
        color: $primary-color;
        text-align: center;
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
    }
    .description {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: $gray;
        margin-bottom: 28px;
    }
    .occupations {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            a {
                display: block;
                padding: 12px 20px;
                font-size: 14px;
                line-height: 1em;
                font-weight: 500;
                color: $gray;
                text-decoration: none;
                &:hover {
                    color: $black;
                }
            }
            &.active {
                a {
                    color: $black;
                    background: $light-gray;
                }
            }
        }
    }
    .submit {
        text-align: center;
    }
}

.institutions {
    display: flex;
    flex-wrap: wrap;
    .institution {
        display: flex;
        padding-bottom: 32px;
        .box {
            width: 100%;
            background: $white;
            box-shadow: 0 0 12px rgba(black, 0.1);
            text-decoration: none;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 24px 16px;
            @include transition(all 0.2s ease-out);
            .logo {
                // border-radius: 100%;
                width: 100%;
                height: 64px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
            &:hover {
                box-shadow: 0 0 24px rgba(black, 0.1);
            }
        }
    }
}

.page-professionals-content {
    .professionals {
        padding-top: 64px;
    }
}

// ==========================================================================
// Sidebar
// ==========================================================================
#sidebar {
}

// ==========================================================================
// Components
// ==========================================================================
a.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    padding: 16px 48px;
    min-width: 170px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-decoration: none;
    @include transition(all 0.2s ease-out);
    &.btn-primary {
        background: $primary-color;
        color: $white;
        &:hover,
        &:focus {
            background: lighten($primary-color, 5%);
        }
        &:active {
            background: darken($primary-color, 5%);
            color: $white;
            box-shadow: none;
        }
    }
    &.btn-secondary {
        background: $secondary-color;
        color: $white;
        &:hover,
        &:focus {
            background: lighten($secondary-color, 5%);
        }
        &:active {
            background: darken($secondary-color, 5%);
            color: $white;
            box-shadow: none;
        }
    }
    &.btn-link {
        background: $white;
        color: $primary-color;
        &:hover,
        &:focus {
            color: darken($primary-color, 5%);
        }
        &:active {
            background: $light-gray;
            box-shadow: none;
            text-decoration: none;
        }
    }
}

.searchform {
    width: 100%;
    max-width: 370px;
    margin-bottom: 16px;
    position: relative;
    z-index: 0;
    .input-group {
        position: relative;
        display: flex;
        .form-control {
            height: 54px;
            //border: none;
            border-radius: 8px 0 0 8px;
        }
        .input-group-btn {
            display: block;
            width: auto;
        }
        .btn {
            padding: 16px;
            //border: none;
            border-radius: 0 8px 8px 0;
            height: 54px;
            &:hover {
                background: darken($light-gray, 5%);
            }
            .fa-search {
                color: #008286;
            }
        }
    }
}

.contact-content {
    div.wpcf7 {
        margin: auto;
        margin-bottom: 60px;
        max-width: 500px;
        @media (max-width: $screen-xs-max) {
            padding: 0 15px;
        }
    }
}

div.wpcf7 {
    p {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 1em;
        position: relative;
        > span {
            display: block;
        }
        br {
            display: none;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    label {
        font-weight: 400;
        font-size: 16px;
        line-height: 1em;
        margin-bottom: 8px;
        color: $gray;
        display: block;
    }
    small {
        font-size: 12px;
        color: $gray;
        margin-bottom: 5px;
        display: block;
    }
    .wpcf7-text {
        border-radius: 0;
        height: 56px;
        border: 2px solid $light-gray;
        color: $black;
        font-weight: 500;
        font-size: 16px;
        padding: 16px;
        box-shadow: none;
        &:focus,
        &.active {
            border-color: $primary-color;
            box-shadow: none;
            outline: none;
        }
    }
    .wpcf7-textarea {
        border-radius: 0;
        border: 2px solid $light-gray;
        color: $black;
        font-weight: 500;
        font-size: 16px;
        padding: 16px;
        box-shadow: none;
        resize: vertical;
        &:focus,
        &.active {
            border-color: $primary-color;
            box-shadow: none;
            outline: none;
        }
        &.wpcf7-not-valid {
        }
    }
    .wpcf7-submit {
        font-size: 14px;
        font-weight: 400;
        line-height: 1em;
        padding: 16px 48px;
        min-width: 170px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        text-decoration: none;
        @include transition(all 0.2s ease-out);
        background: $primary-color;
        color: $white;
        &:hover,
        &:focus {
            background: lighten($primary-color, 5%);
        }
        &:active {
            background: darken($primary-color, 5%);
            color: $white;
            box-shadow: none;
        }
    }
    .wpcf7-not-valid-tip {
        font-size: 12px;
    }
    .ajax-loader {
        display: inline-block;
    }
    .wpcf7-response-output {
        margin: 8px 0 0;
        border-radius: 8px;
        &.wpcf7-mail-sent-ok {
            border-color: $secondary-color;
        }
    }
}

#wpuf-login-form {
    max-width: 400px;
    p {
        margin-bottom: 24px;
    }
    label {
        font-weight: 400;
        font-size: 16px;
        line-height: 1em;
        margin-bottom: 8px;
        color: $gray;
        display: block;
    }
    .input {
        width: 100%;
        border-radius: 0;
        height: 56px;
        border: 2px solid $light-gray;
        color: $black;
        font-weight: 500;
        font-size: 16px;
        padding: 16px;
        box-shadow: none;
        &:focus,
        &.active {
            border-color: $primary-color;
            box-shadow: none;
            outline: none;
        }
    }
    #wp-submit {
        font-size: 14px;
        font-weight: 400;
        line-height: 1em;
        padding: 16px 48px;
        min-width: 170px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        text-decoration: none;
        @include transition(all 0.2s ease-out);
        background: $primary-color;
        color: $white;
        &:hover,
        &:focus {
            background: lighten($primary-color, 5%);
        }
        &:active {
            background: darken($primary-color, 5%);
            color: $white;
            box-shadow: none;
        }
    }
    a {
        font-size: 14px;
        color: $primary-color;
    }
}

.wpuf-form-add {
    max-width: 570px;
    .wpuf-el {
        margin-bottom: 24px;
        padding-bottom: 0;
        font-size: 16px;
        line-height: 1em;
        position: relative;
        &:last-of-type {
            margin-bottom: 0;
        }
        .wpuf-section-wrap {
            margin-bottom: -24px;
            border-bottom: none;
        }
    }
    .wpuf-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 1em;
        margin-bottom: 8px;
        color: $gray;
        display: block;
    }
    .textfield,
    input.password,
    .wpuf_dropdown,
    select {
        border-radius: 0;
        height: 56px;
        border: 2px solid $light-gray;
        color: $black;
        font-weight: 500;
        font-size: 16px;
        padding: 16px;
        box-shadow: none;
        &:focus,
        &.active {
            border-color: $primary-color;
            box-shadow: none;
            outline: none;
        }
    }
    .wpuf-insert-image {
        font-size: 14px !important;
    }
    textarea {
        border-radius: 0;
        border: 2px solid $light-gray;
        color: $black;
        font-weight: 500;
        font-size: 16px;
        padding: 16px;
        box-shadow: none;
        resize: vertical;
    }
    .wpuf-radio-block {
        padding: 8px;
        font-size: 16px;
        input {
            width: 24px;
        }
    }
    .wpuf-attachment-list {
        li {
            width: 96px;
        }
        .btn {
            min-width: 0;
            width: 100%;
            padding: 16px;
            margin-top: 8px;
        }
    }
    .wpuf-submit-button {
        font-size: 14px;
        font-weight: 400;
        line-height: 1em;
        padding: 16px 48px;
        min-width: 170px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        text-decoration: none;
        @include transition(all 0.2s ease-out);
        background: $primary-color;
        color: $white;
        &:hover,
        &:focus {
            background: lighten($primary-color, 5%);
        }
        &:active {
            background: darken($primary-color, 5%);
            color: $white;
            box-shadow: none;
        }
    }
    a {
        font-size: 14px;
        color: $primary-color;
    }
}

//
// Fancy skip link
//
// Make it look a bit less "bare bones"
// Also includes focus suppression for the Chrome tabindex="-1" workaround
//
#skippy {
    display: block;
    padding: 1em;
    background-color: #f5f5f5;
    outline: 0;
}

#skippy .skiplink-text {
    padding: 0.5em;
    outline: 1px dotted;
}

#content:focus {
    outline: none;
}

//
// Pagination
//
.pagination-wrap {
    clear: both;
    flex: 0 0 100%;
    text-align: center;
    padding: 48px 15px;
    .infinite-scroll & {
        display: none;
    }
    .page-numbers {
        text-align: center;
        margin: 0;
        display: block;
        > li {
            display: inline-block;
            margin: 0 4px;
            float: none;
            > span {
                border: none;
                border-radius: 0 !important;
                padding: 10px 16px;
                width: 40px;
                font-size: 16px;
                font-weight: 500;
                line-height: 1em;
                color: $primary-color;
                border-bottom: 2px solid $primary-color;
                &.current,
                &.current:hover,
                &:hover,
                &:focus {
                    background: $white;
                    border-color: $primary-color;
                    color: $primary-color;
                }
            }
            > a {
                background: $white;
                border: none;
                border-bottom: 2px solid $white;
                color: $gray;
                border-radius: 0 !important;
                padding: 10px 16px;
                width: 40px;
                font-size: 16px;
                font-weight: 500;
                line-height: 1em;
                &:hover,
                &:focus {
                    background: $white;
                    color: $primary-color;
                    border-color: $white;
                }
            }
            &:first-child > span,
            &:first-child > a,
            &:last-child > a,
            &:last-child > span {
                border-radius: 4px;
            }
        }
    }
}

// ==========================================================================
// Footer
// ==========================================================================
.newsletter {
    // margin-top: 96px;
    background: $black;
    padding: 25px 0;
    clear: both;
    .header {
        .title {
            margin-top: 0;
            font-weight: 600;
            color: $white;
            font-size: 18px;
            margin-bottom: 5px;
        }
        p {
            color: $white;
            font-size: 14px;
            margin-bottom: 0;
            @media (max-width: $screen-xs-max) {
                margin-bottom: 5px;
            }
        }
        @media (max-width: $screen-sm-max) {
            p {
                font-size: 12px;
            }
        }
        @media (max-width: $screen-xs-max) {
            p {
                font-size: 14px;
            }
        }
    }
    .form-container {
        .form-group {
            display: flex;
            margin-bottom: 0;
            .form-control {
                height: 50px;
                border-radius: 0;
                background: rgba($white, 0.1);
                border: none;
            }
            .btn {
                border-radius: 0;
                background: $secondary-color;
                color: $white;
                width: 170px;
                box-shadow: none;
                &:hover,
                &:focus {
                    background: lighten($secondary-color, 10%);
                }
                &:active {
                    background: darken($secondary-color, 10%);
                }
                &.loading {
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: white;
                        opacity: 0.3;
                        border-radius: 0 23px 23px 0;
                    }
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        bottom: 10px;
                        left: 0;
                        background: url("../images/loader.gif") center center no-repeat;
                        background-size: contain;
                    }
                }
                @media (max-width: $screen-xs-max) {
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 14px;
                    width: auto;
                }
            }
        }
    }
    #newsletter-alert {
        margin-top: 5px;
    }
}

//
// Sticky footer styles
//
#footer {
    clear: both;
    padding: 60px 0;
    .company {
        .footer-logo {
            margin-bottom: 20px;
            a {
                display: inline-block;
            }
            img {
                max-width: 170px;
                height: auto;
                @media (max-width: $screen-xs-max) {
                    margin: auto;
                    max-width: 140px;
                }
            }
            @media (max-width: $screen-xs-max) {
                text-align: center;
            }
        }
    }
    .widget {
        .widget-title {
            font-size: 14px;
            font-weight: 500;
            color: $black;
            margin-top: 0;
            @media (max-width: $screen-xs-max) {
                text-align: center;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                margin-bottom: 16px;
                a {
                    font-size: 14px;
                    line-height: 1.5em;
                    color: $gray;
                    display: block;
                    &:hover {
                        color: $black;
                    }
                }
            }
            @media (max-width: $screen-xs-max) {
                text-align: center;
            }
        }
        .address {
            margin-bottom: 20px;
            pre {
                background: none;
                font-family: inherit;
                padding: 0;
                border: none;
                line-height: inherit;
                font-size: 14px;
                color: $gray;
                display: block;
            }
            @media (max-width: $screen-xs-max) {
                text-align: center;
            }
        }
        p,
        .phone,
        .email a {
            font-size: 14px;
            color: $gray;
            display: block;
            margin-bottom: 0;
            @media (max-width: $screen-xs-max) {
                text-align: center;
            }
        }
        .email {
            margin-top: 20px;
            @media (max-width: $screen-xs-max) {
                text-align: center;
            }
        }
    }
    .social-menu .social {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: block;
            margin-bottom: 24px;
            a {
                color: $gray;
                text-decoration: none;
                font-size: 14px;
                display: flex;
                .fa {
                    font-size: 24px;
                    line-height: 24px;
                    color: $black;
                    margin-right: 24px;
                }
                span {
                    align-self: center;
                }
                &:hover {
                    color: $black;
                }
            }
        }
        @media (max-width: $screen-xs-max) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
            li {
                width: 140px;
            }
        }
    }
    .partner {
        img {
            max-width: 140px;
            height: auto;
        }
        @media (max-width: $screen-sm-max) {
            margin-top: 64px;
            img {
                margin: auto;
            }
        }
    }
    .footer-bottom {
        padding-top: 40px;
        margin-top: 80px;
        color: $gray;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $light-gray;
        a {
            color: $gray;
        }
        .copy {
            margin-bottom: 30px;
            p {
                margin-bottom: 0;
            }
        }
        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            text-align: center;
        }
    }
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    font-family: $main-font;
    font-weight: 400;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $main-font;
        font-weight: 600;
    }
    &.logged-in,
    &.admin-bar {
        @media (min-width: 601px) {
            .fancybox-container {
                .fancybox-controls {
                    top: 40px;
                }
                .fancybox-thumbs {
                    padding-top: 40px;
                }
            }
        }
    }
}

#wpadminbar {
    &.navbar-in {
        z-index: -1;
    }
    @media (max-width: 600px) {
        top: -46px;
    }
}
