// ==========================================================================
// Theme Custom Variables
// ==========================================================================
$main-font: "ProductSans", "Product Sans", Arial, sans-serif;


$primary-color: #0066EB;
$secondary-color: #00CE9D;

$white: #FFFFFF;
$light-gray: #E7EAF3;
$gray: #6D6D80;
$black: #1B1C3D;
